<form ng-submit="addList()">
  <div class="form-group">
    <label for="todolist">My List</label>
    <input type="text" class="form-control" id="myList" 
    ng-model="myList" placeholder="Enter your list" size="50">
  </div>
  <button type="submit" class="btn btn-default">Add</button>
</form>
<br/>
<div ng-repeat="items in lists">
  <input type="checkbox" ng-model="items.remove"><span> {{items.list}}</span>
  </div>
  <button class="btn btn-primary" ng-click="removeList()">Remove selected</button>